<html>
    <head>
        <script>
            function Check()
            {
                var name = document.getElementById("one").value;
                alert(name)
                var parm = ("name="+name);
                var  requestt = new XMLHttpRequest();
                //requestt.onreadystatechange = Checkname;
                requestt.open("POST","http://127.0.0.1:8000/save_user/",true);
                requestt.send(parm);


            }
        </script> 

    </head>
    <body>
    <form action="{% url 'save_user' %}" method="post">
        {% csrf_token %}
        <table align="center" border="2" class="ta">
            <tr>
                <th>
                    <input type="text"  placeholder="Name" onblur="Check()" id="one" name="n1" required>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text" placeholder="phone number"name="p1" required>
                </th>
            </tr>
            <tr>
                <th>
                    <input type="text" placeholder="Email" name="e1" required>
                </th>
            </tr>
            <tr>
                <th>
                    <button type="submit">save</button>
                </th>
            </tr>
        </table>
    </form>
    </body>
</html>
